.hinhAnh {
    width: 250px;
    height: 300px;
    object-fit:fill;
    border-radius: 20px;
    opacity: 0.8;
    border: none;
}

.slide{
    margin: 20px 50px 20px 50px;
}

.card{
    border: none;
    border-radius: none;
    border-width: 0 !important;
}

.title{
    color: rgb(179, 255, 0) !important;
    font-size: 20px;
}

.trusty{
    text-align: center;
    padding: 30px 0;
    opacity: 0.8;
}

.trustySpan{
    margin: 0 20px;
}