.exploreImg {
    width: 500px;
    height: 350px;
    border-radius: 20px;
    
}

.explore{
    margin: 50px 50px;
}

.title{
    font-weight: 500;

}

.icon {
    color:rgb(179, 255, 0) ;
    font-size: 30px;
    margin: 30px 0;
}

.span {
    font-weight: 500;
}